In [4]:
print('안녕하세요')
print(100)

안녕하세요
100

In [5]:
# 주석 => 코드 내부에 사용, 코드로 인식 X, 간단한 메모
# 변수 => 데이터를 저장(메모리: 플레시메모리)하는 방식
# 변수이름(식별자) = 값(데이터: 숫자, 문자열, 논리값(True,False), 객체)
# 변수에는 데이터를 저장하고 있는 메모리의 주소값을 저장
num = 10

In [6]:
print(num)

10

In [7]:
id(num)

140724388250824

In [8]:
num+100

110

In [10]:
# 변수 = 데이터
# 데이터 => 숫자, 문자, 논리값
# 숫자 => 정수, 실수
num1 = 10
num2 = 3.14

In [13]:
print(type(num1))
print(type(num2))

<class 'int'>
<class 'float'>

In [14]:
num3 = 'hello~'

In [16]:
print(num3)
print(type(num3))

hello~
<class 'str'>

In [17]:
# 논리값 : 참, 거짓 => True, False
check1 = True
check2 = False

In [19]:
print(check1, type(check1))
print(check2, type(check2))

True <class 'bool'>
False <class 'bool'>

In [25]:
str_a = 'python'

In [26]:
str_a.upper()
# 주소값.메서드()

'PYTHON'

In [27]:
print(type(str_a))

<class 'str'>

In [28]:
str_a = 100

In [29]:
print(str_a, type(str_a))

100 <class 'int'>

In [30]:
# 문자열 생성
# '', "", ''' ''', """ """
str_1 = 'hello~'
str_2 = "안녕하세요"
str_3 = '''첫째 라인
안녕하세요
반갑습니다.
'''
str_4 = """
select *
from emp
where empno=10
"""

In [35]:
print(str_1, type(str_1))
print(str_2, type(str_2))
print(str_3, type(str_3))
print(str_4, type(str_4))

hello~ <class 'str'>
안녕하세요 <class 'str'>
첫째 라인
안녕하세요
반갑습니다.
 <class 'str'>

select *
from emp
where empno=10
 <class 'str'>

In [37]:
# 문자열의 연산
# 사칙연산 X => 더하기(연결)
# 곱샘 * => 반복(몇번 반복)
print('hello'+' python!!')
print('='*10)

hello python!!
==========

In [40]:
# 함수(기능) : 데이터 전달하면 -> 처리(연산) -> 값을 반환
# 문자열의 길이 반환 함수 : len(변수:시퀀스형식의 데이터)
print(len(str_1))
print(len(str_2))

6
5

In [ ]:
# 문자열 : 시퀀스 데이터 => 순서 O
# 시퀀스 데이터의 테이터들의 구분 => index값
# hello => ['h', 'e', 'l', 'l', 'o']
#   index => 0    1    2    3    4   => 0 ~ N-1 => 0~4
str_5 = 'hello~ python!!'
#        0123456789..

In [43]:
str_5[5]

'~'

In [44]:
# 문자열(시퀀스)의 슬라이싱
# s[시작 index : 종료 index]   => 종료 index값을 만나면 탈출
# str_5[0 : 5]
str_5[0 : 5]

'hello'

In [46]:
# 문자열 포맷팅
# 3.6 버전 이후 f""  , 접두사 f 붙이고 포맷팅
user_name = '손흥민'
user_age = 30
print(f'안녕하세요! 저는 {user_name}입니다. 나이는 {user_age} 입니다.')

안녕하세요! 저는 손흥민입니다. 나이는 30 입니다.

In [47]:
print(f'내년에는 나이가 {user_age+1}살이 됩니다.')

내년에는 나이가 31살이 됩니다.

In [48]:
# 복합 대입 연산
num = 1

In [49]:
num = num + 1

In [50]:
print(num)

2

In [51]:
num += 1  # num = num + 1

In [52]:
print(num)

3

### 연습문제 1
과목별 점수, 총점, 평균점수 출력
과목 : 국어, 영어, 수학

In [ ]:
# 1. 변수 선언, 초기화
kor_score = 100     # 국어점수
eng_score = 70      # 영어점수
math_score = 80     # 수학점수

In [ ]:
# 2. 연산 : 총점, 평균
sum_score = kor_score + eng_score + math_score
avg_score = sum_score / 3

In [56]:
# 3. 결과 출력
print(f'국어점수:{kor_score}, 영어점수:{eng_score}, 수학점수: {math_score} \n총점:{sum_score} \n평균점수:{avg_score}')

국어점수:100, 영어점수:70, 수학점수: 80
총점:250
평균점수:83.33333333333333

In [60]:
# 성별 체크, 나이 체크
# 성별이 남성이고(and), 성인 판별 (18살 이상)
# 1. 변수
gender = 'M'  # 셩별 : 'M' | 'F'
age = 20

In [61]:
# 2. 남성 그리고 성인
check = gender == 'M' and age >= 18

In [62]:
print('성인 남성 체크 :', check)

성인 남성 체크 : True

In [63]:
# 리스트 : [] =>  순서를 가지는 데이터 묶음
# index 값으로 요소들을 참조 => 0 ~ N(요소의 개수)-1
list_a = [1,2,3]
# index   0 1 2
# 요소의 개수 : 3

In [66]:
print(list_a, type(list_a))

[1, 2, 3] <class 'list'>

In [ ]:
# bool(), int(), float(), str(), list()

In [69]:
# 요소의 참조
list_a[2]

3

In [71]:
list_a[2] = 4

In [72]:
list_a

[1, 2, 4]