In [48]:
print('안녕하세요')
print(300)

안녕하세요
300

In [49]:
num = 10;

In [50]:
print(num);

10

In [51]:
id(num);

In [52]:
num1 = 10;
num2 = 3.14;

In [53]:
print(type(num1));
print(type(num2));

<class 'int'>
<class 'float'>

In [54]:
num3 = 'hello~';

In [55]:
print(num3);
print(type(num3));

hello~
<class 'str'>

In [56]:
check1 = True;
check2 = False;

In [57]:
print(check1, type(check1));
print(check2, type(check2));

True <class 'bool'>
False <class 'bool'>

In [58]:
str_a = 'python';

In [59]:
str_a.upper();

In [60]:
str_a = 100

In [61]:
print(str_a)

100

In [1]:
kor = 100
eng = 90
math = 80
sum = kor+eng+math
age = sum/3
print("국어, 영어, 수학 3과목의 총점은 {0}점이며, 평균은 {1}점입니다.".format(sum,age))

국어, 영어, 수학 3과목의 총점은 270점이며, 평균은 90.0점입니다.

In [15]:
gender = 'male'
age = 17
print("입력하신 성별은 {0}이며")
if gender == 'male' and age >= 18:
    print("성별이 남성이고, 18세 이상입니다.")
else:
    print("성별이 남성이고, 18세 이상이 아닙니다.")

입력하신 성별은 {0}이며
성별이 남성이고, 18세 이상이 아닙니다.

In [7]:
def add_type(type,*args):
    # add, mul
    if type=='add':          
        result = 0               # add 일때 0
        for num in args:
            result += num
        return result
    elif type=='mul':
        result = 1               # mul 일때 1
        for num in args:
            result *=num
        return result
    else :
        print('사용가능한 타입을 입력해주세요')

add_type("add", 12, 34)

46

In [8]:
def positive(l) :
    result = []
    for n in l:
        if n > 0 :
            result.append(n)
    return result

In [10]:
positive([3, 1, -1, -3, 0, 9, 10, 4])

[3, 1, 9, 10, 4]

In [14]:
def positive_fn(x) :
    return x > 0

In [16]:
def pos_fn2(x) :
    return x % 2 == 1

In [18]:
list(filter(pos_fn2, [3, 1, -1, -3, 0, 9, 10, 4]))

[3, 1, -1, -3, 9]

In [22]:
list(filter(lambda x : x > 0, [3, 1, -1, -3, 0, 9, 10, 4]))
list(filter(lambda x : x % 2 == 1, [3, 1, -1, -3, 0, 9, 10, 4]))

[3, 1, -1, -3, 9]

In [24]:
map(lambda x : x*2, [1,2,3,4,5])

In [26]:
f = open('new_text.txt','w')
f.close()

In [29]:
f = open('new_text.txt', 'w')
f.write('안녕하세요!!!!')
f.close()

In [31]:
f = open('new_text.txt', 'w')
for i in range(1,11):
    f.write(f'{i}번째 줄 입력\n')
f.close()

In [34]:
f = open('new_text.txt', 'r')
line1 = f.readline()
print(line1)
line2 = f.readline()
print(line2)
f.close()

1번째 줄 입력

2번째 줄 입력

In [35]:
class MyError(Exception):
    pass

In [36]:
raise MyError()

MyError: