In [1]:
import pandas as pd

In [5]:
data = pd.DataFrame({'Original':[1,4,16,36,100,1000,10000]})

In [3]:
import numpy as np

In [6]:
data['Log Tans'] = np.log1p(data['Original'])

In [7]:
data

   Original  Log Tans
0         1  0.693147
1         4  1.609438
2        16  2.833213
3        36  3.610918
4       100  4.615121
5      1000  6.908755
6     10000  9.210440

In [10]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler,LabelEncoder,OneHotEncoder

In [11]:
data1 = pd.DataFrame({'Original': [50,80,90,100,160]})
data2 = pd.DataFrame({'Fruits': ['사과', '배', '포도', '사과', '포도']})

In [16]:
# 표준화
scaler_1 = StandardScaler()
data1['scale_1'] = scaler_1.fit_transform(data1[['Original']])

# 정규화
scaler_2 = MinMaxScaler()
data1['scale_2']=scaler_2.fit_transform(data1[['Original']])

In [20]:
data1

   Original   scale_1   scale_2
0        50 -1.273852  0.000000
1        80 -0.443079  0.272727
2        90 -0.166155  0.363636
3       100  0.110770  0.454545
4       160  1.772316  1.000000

In [17]:
data2

  Fruits
0     사과
1      배
2     포도
3     사과
4     포도

In [ ]:
# 레이블의 인코딩
encoder_1 = LabelEncoder()
data2['Label Encoding'] = encoder_1.fit_transform(data2['Fruits'])

encoder_2 = OneHotEncoder()
onehot_encoded = encoder_2.fit_transform(data2[['Label Encoding']])

TypeError: sparse array length is ambiguous; use getnnz() or shape[0]

In [19]:
data2

  Fruits  Label Encoding
0     사과               1
1      배               0
2     포도               2
3     사과               1
4     포도               2